.button-default{
  background-color: #943156;
  font-family: Comic Sans MS;
  margin: 1rem 0 1rem 0;
}

.search-button{
  font-family: cursive;
  background-color: #699A33;
}

.random-button{
  font-family: cursive;
  margin: 1rem;
  background-color: #699A33;
  padding: 1rem;  
}

.button-modal{
  background-color: #943156;
  font-family: Comic Sans MS;
  margin-bottom :1rem;
}

.view-button{
  font-family: cursive;
  background-color: #699A33;
  margin: 5px;
}